<script setup lang="ts">
import { useEmployStore } from '@/stores/employee'

const empStore = useEmployStore()

const headers = [
  {
    title: 'Image',
    key: 'image'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  }
  ,
  {
    title: 'Clock In',
    key: 'in',
    value: 'in'
  },
  {
    title: 'Clock Out',
    key: 'out',
    value: 'out'
  },
  {
    title: 'Time Worked',
    key: 'time',
    value: 'time'
  }
]
</script>

<template>
  <v-data-table :headers="headers" :items="empStore.Employees">
    <template v-slot:[`item.image`]="{ item }">
      <v-img :src="'http://localhost:3000/img/employees/'" width="50" height="50"></v-img>
    </template>

    <template v-slot:no-data>
      <v-btn color="rgb(214, 175, 125)"> Reset </v-btn>
    </template>
  </v-data-table>
</template>
