<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { onUnmounted, ref } from 'vue'
const authStore = useAuthStore()
const currentTime = ref<string>(
  new Date().toLocaleString('th-TH', { hour12: false, timeZone: 'Asia/Bangkok' })
)

const updateTime = () => {
  currentTime.value = new Date().toLocaleString('th-TH', {
    hour12: false,
    timeZone: 'Asia/Bangkok'
  })
}

const intervalId = setInterval(updateTime, 1000)

onUnmounted(() => {
  clearInterval(intervalId)
})
</script>

<template>
  <v-container>
    <v-card class="bg-green-darken-4">
      <v-card-title class="font-weight-bold"> Clock In/Out </v-card-title>
      <v-container>
        <v-row class="d-flex justify-center align-center">
          <v-col col="12" sm="4" class="d-flex justify-center align-center">
            <v-avatar color="grey" rounded="0" size="150" class="align-center">
              <v-img></v-img>
            </v-avatar>
          </v-col>
          <v-col col="12" sm="4">
            <v-list-item class="font-weight-bold text-center" :style="{ fontSize: '35px' }">
              {{ authStore.getCurrentUser()?.name }}
            </v-list-item>
          </v-col>
          <v-col col="12" sm="4" class="font-weight-bold text-center">
            <v-subheader>{{ currentTime }}</v-subheader>
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <v-container class="d-flex justify-center align-center">
      <v-btn
        class="mt-16 bg-cyan-lighten-1 text-white font-weight-bold"
        style="border-radius: 50%; width: 150px; height: 150px"
      >
        Clock In
      </v-btn>
    </v-container>
  </v-container>
</template>
import { ref, onUnmounted } from 'vue'; import { ref, onUnmounted } from 'vue';
