<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import type { VForm } from 'vuetify/components'
import { ref } from 'vue'

const authStore = useAuthStore()
const refForm = ref<VForm | null>(null)
const form = ref(false)
const email = ref('')
const password = ref('')
const visible = ref(false) // Add this line to define 'visible' property

const required = (v: string) => {
  return !!v || 'Field is required'
}

const onSubmit = async () => {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  authStore.login(email.value, password.value)
}
</script>

<template>
  <div class="app-container" fluid>
    <v-container md="6" xs="3">
      <div>
        <v-card class="mx-auto pa-12 pb-8" elevation="8" max-width="448" rounded="lg">
          <div class="text-subtitle-1 text-medium-emphasis">User</div>
          <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
            <v-text-field
              v-model="email"
              density="compact"
              placeholder="Email"
              prepend-inner-icon="mdi-account"
              variant="outlined"
              :rules="[required]"
            >
            </v-text-field>

            <div
              class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between"
            >
              Password

              <a
                class="text-caption text-decoration-none text-blue"
                href="#"
                rel="noopener noreferrer"
                target="_blank"
              ></a>
            </div>

            <v-text-field
              v-model="password"
              clearable
              placeholder="Password"
              :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
              :type="visible ? 'text' : 'password'"
              density="compact"
              prepend-inner-icon="mdi-lock-outline"
              variant="outlined"
              :rules="[required]"
              @click:append-inner="visible = !visible"
            ></v-text-field>

            <v-card class="mb-12" color="surface-variant" variant="tonal">
              <v-card-text class="text-medium-emphasis text-caption">
                หากลืมรหัสผ่านหรือชื่อUserโปรดแจ้งผู้จัดการ.
              </v-card-text>
            </v-card>

            <v-btn
              :disabled="!form"
              block
              size="large"
              type="submit"
              variant="elevated"
              class="mb-8"
              color="browe"
              style="background-color: rgb(100, 126, 34); font-weight: bold; color: azure"
            >
              Login
            </v-btn>
          </v-form>
        </v-card>
      </div>
    </v-container>
  </div>
</template>

<style scoped>
.app-container {
  position: relative;
  height: 800px;
}

.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/cafelogin.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
  /* ตั้งค่า z-index เพื่อให้ pseudo-element อยู่หลัง content ภายใน .app-container */
}
</style>
