<script lang="ts" setup>
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import { type Salary } from '@/types/Salary'
import http from '@/services/http'
import salaryService from '@/services/salary'
const headers = [
  {
    title: 'Salary ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Employee ID',
    key: 'empId',
    value: 'empId'
  },
  {
    title: 'Employee Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Pay',
    key: 'pay',
    value: 'pay'
  },
  {
    title: 'Date',
    key: 'date',
    value: 'date'
  },
  {
    title: 'Work Hours',
    key: 'workHour',
    value: 'workHour'
  }
]
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const initilsalary: Salary = {
  id: -1,
  empId: 0,
  name: '',
  pay: 0,
  date: '',
  workHour: 0
}
const editedsalary = ref<Salary>(JSON.parse(JSON.stringify(initilsalary)))
const salarys = ref<Salary[]>([])
let editedIndex = -1
let lastId = 4
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedsalary.value = Object.assign({}, initilsalary)
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await deletesalary(editedsalary.value)
  closeDelete()
}
function editItem(item: Salary) {
  editedIndex = salarys.value.indexOf(item)
  editedsalary.value = Object.assign({}, item)
  dialog.value = true
}
function deleteItem(item: Salary) {
  editedIndex = salarys.value.indexOf(item)
  editedsalary.value = Object.assign({}, item)
  dialogDelete.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedsalary.value = Object.assign({}, initilsalary)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  closeDialog()
  await savesalary(editedsalary.value)
}

async function getsalary() {
  const res = await salaryService.getSalarys()
  salarys.value = res.data
}

async function savesalary(salary: Salary) {
  if (salary.id < 0) {
    console.log('Post ' + JSON.stringify(salary))
    const res = await salaryService.addSalary(salary)
  } else {
    console.log('Patch ' + JSON.stringify(salary))
    const res = await salaryService.editSalary(salary)
  }
  await getsalary()
}

async function deletesalary(salary: Salary) {
  const res = await salaryService.delSalary(salary)
  await getsalary()
}
onMounted(() => {
  getsalary()
})
</script>
<template>
  <!-- <div>
    <v-table>
      <thead>
        <tr>
          <th class="text-left">ID</th>
          <th class="text-left">Email</th>
          <th class="text-left">Full Name</th>
          <th class="text-left">Gender</th>
          <th class="text-left">Roles</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in salarys" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.fullName }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.roles.join(',') }}</td>
        </tr>
      </tbody>
    </v-table>
  </div> -->
  <div>
    <v-data-table :headers="headers" :items="salarys">
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Salaries</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->

          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="primary" v-bind="props"> New salary </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">salary Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedsalary.empId"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Employee ID"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedsalary.name"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Full Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="editedsalary.pay"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Pay"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="editedsalary.date"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          clearable
                          label="Date"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <!-- Delete Dialog-->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="getsalary"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
