<!-- eslint-disable vue/multi-word-component-names -->
<script setup lang="ts">
import { nextTick, provide, ref } from 'vue'
import MemberView from './MemberView.vue'

import { userItemStore } from '@/stores/ItemList'

import { type Product } from '@/types/Product'

import ReceiptCard from '@/components/ReceiptCard.vue'
import ItemTable from '@/components/ItemTable.vue'
import ProductList from '../components/ProductList.vue'
import ReceiptDialog from '@/components/ReceiptDialog.vue'

const itemStore = userItemStore()
const drinks: Product[] = [
  { id: 1, name: 'สมสัก', price: 50, type: '' },
  { id: 2, name: 'สมปอง', price: 40, type: '' },
  { id: 3, name: 'สมหมาย', price: 30, type: '' }
]
const desserts: Product[] = [
  { id: 1, name: 'สมสัก', price: 50, type: '' },
  { id: 2, name: 'สมปอง', price: 40, type: '' },
  { id: 3, name: 'สมหมาย', price: 30, type: '' }
]
const foods: Product[] = [{ id: 25, name: 'ยังคิดไม่ออก', price: 250.0, type: '' }]

const tab = ref(1)

const selected = (p: Product) => {
  console.log('ProductView', p)
  itemStore.addItem(p)
  nextTick(() => {
    if (divRecieptItems.value) divRecieptItems.value.scrollTo(0, divRecieptItems.value.scrollHeight)
  })
}
const divRecieptItems = ref<HTMLElement | null>(null)

const dialog = ref(false)
provide('receiptDialog', dialog)

const receiptBill = function () {
  itemStore.billDialog()
}

const labels: String[] = ['12am', '3am', '6am', '9am', '12pm', '3pm', '6pm', '9pm']
const value: number[] = [200, 675, 410, 390, 310, 460, 250, 240]
</script>

<template>
  <div class="app-container">
    <v-container class="ma-0" style="background-color: rgb(220, 164, 121)" fluid>
      <v-row>
        <v-col cols="12" md="6" xs="3" style="background-color: rgb(214, 175, 125)">
          <v-container style="padding: 0">
            <v-row>
              <v-col cols="12">
                <v-sheet
                  min-width="auto"
                  max-width="900"
                  height="60"
                  elevation="6"
                  style="
                    font-size: xx-large;
                    text-align: center;
                    background-color: rgb(155, 110, 65);
                    font-weight: bold;
                  "
                >
                  Employee Performance
                </v-sheet>
              </v-col>
              <v-col cols="12">
                <!-- จอเลือกสินค้าด้านซ้ายใส่ตรงนี้ -->
                <v-sheet
                  min-width="auto"
                  max-width="900"
                  height="600"
                  elevation="6"
                  style="background-color: rgb(155, 110, 65)"
                >
                  <v-tabs
                    v-model="tab"
                    color="white"
                    align-tabs="center"
                    style="background-color: rgb(155, 110, 65)"
                  >
                    <v-tab :value="1">Work Hours</v-tab>
                    <v-tab :value="2">Orders Recieved</v-tab>
                    <v-tab :value="3">...</v-tab>
                  </v-tabs>
                  <v-window
                    v-model="tab"
                    md="6"
                    xs="3"
                    style="background-color: rgb(210, 165, 133)"
                  >
                    <v-window-item :value="1">
                      <ProductList :products="drinks" @selected-product="selected"></ProductList>
                    </v-window-item>
                    <v-window-item :value="2">
                      <ProductList :products="desserts" @selected-product="selected"></ProductList>
                    </v-window-item>
                    <v-window-item :value="3">
                      <ProductList :products="foods" @selected-product="selected"></ProductList>
                    </v-window-item>
                  </v-window>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </v-col>

        <v-col cols="12" md="6" xs="3" style="background-color: rgb(78, 43, 17)">
          <!-- จอด้านขวาใส่ตรงนี้ -->
          <v-container style="padding: 0">
            <v-row no-gutters>
              <v-col cols="12">
                <v-sheet
                  min-width="auto"
                  max-width="900"
                  height="70"
                  elevation="1"
                  style="
                    font-size: xx-large;
                    text-align: center;
                    background-color: rgb(137, 87, 41);
                    font-weight: bold;
                  "
                >
                  Store Performance
                </v-sheet>
              </v-col>
              <v-col cols="12">
                <v-sheet>
                  <!--ใส่ตรงนี้-->
                  <v-row align="center" justify="center">
                    <v-col cols="auto"> </v-col>
                  </v-row>
                  <v-row align="center" justify="center">
                    <v-col>
                      <v-card color="brown" class="mx-auto" max-width="344">
                        <v-card-item>
                          <v-card class="mx-auto text-center" color="green" max-width="600" dark>
                            <v-sheet
                              class="v-sheet--offset mx-auto"
                              color="cyan"
                              elevation="12"
                              max-width="calc(100% - 32px)"
                              rounded="lg"
                            >
                              <v-sparkline
                                :labels="labels"
                                :model-value="value"
                                color="white"
                                height="100"
                                padding="24"
                                stroke-linecap="round"
                                smooth
                              ><template v-slot:label="item">
            ${{ item.value }}
          </template></v-sparkline>
                            </v-sheet>

                            <v-card-text class="pt-0">
                              <div class="subheading font-weight-light text-grey">
                                Last Campaign Performance
                              </div>
                            </v-card-text>
                          </v-card>
                        </v-card-item>
                        <v-card-actions class="justify-center">
                          <v-btn variant="text" block> Go to Report </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-sheet>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
    <ReceiptDialog></ReceiptDialog>
  </div>
</template>

<style scoped>
.app-container {
  position: relative;
  height: auto;
}

.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/cafe.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}
</style>
