<script setup lang="ts">
import { onMounted } from 'vue'
import { nextTick, ref } from 'vue'

import type { StoreExp } from '@/types/StoreExpenses'

import type { VForm } from 'vuetify/components'

const storeexps = ref<StoreExp[]>([])

const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Type',
    value: 'type',
    key: 'type'
  },
  {
    title: 'Status',
    value: 'status',
    key: 'status'
  },
  {
    title: 'Total',
    value: 'total',
    key: 'total'
  },
  {
    title: 'Due-Date',
    value: 'duedate',
    key: 'duedate'
  },
  { key: 'actions', sortable: false }
]
const form = ref(false)
const loading = ref(false)
const dialog = ref(false)
const dialogDelete = ref(false)
const refForm = ref<VForm | null>(null)
let lastId = 3
const initialStoreExp: StoreExp = {
  id: -1,
  type: 'Electricity',
  status: 'Pending',
  total: 1500,
  duedate: '01-01-2567'
}

const editedStoreExp = ref<StoreExp>(JSON.parse(JSON.stringify(initialStoreExp)))
function onSubmit() {}
function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedStoreExp.value = Object.assign({}, initialStoreExp)
  })
}

let editedIndex = -1
function deleteItemConfirm() {
  if (editedIndex > -1) {
    storeexps.value.splice(editedIndex, 1)
    closeDelete()
  }
}

function editItem(item: StoreExp) {
  editedIndex = storeexps.value.indexOf(item)
  editedStoreExp.value = Object.assign({}, item)
  dialog.value = true
}
function deleteItem(item: StoreExp) {
  const index = storeexps.value.findIndex((user) => user.id === item.id)

  if (index !== -1) {
    dialogDelete.value = true
    editedIndex = index
  }
}

function initialize() {
  storeexps.value = [
    {
      id: 1,
      type: 'Electricity',
      status: 'Pending',
      total: 1500,
      duedate: '2024-01-01'
    },
    {
      id: 2,
      type: 'Electricity',
      status: 'Pending',
      total: 3500,
      duedate: '2024-02-01'
    }
  ]
}
onMounted(() => {
  initialize()
})
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedStoreExp.value = Object.assign({}, initialStoreExp)
    editedIndex = -1
  })
}

const search = ref('')

async function save() {
  const { valid } = await refForm.value!.validate()

  if (!valid) return
  if (editedIndex > -1) {
    Object.assign(storeexps.value[editedIndex], editedStoreExp.value)
  } else {
    editedStoreExp.value.id = lastId++
    storeexps.value.push(editedStoreExp.value)
  }
  closeDialog()
}
</script>

<template>
  <div class="app-container">
    <v-data-table :headers="headers" :search="search"  :items="storeexps">
      <template v-slot:top>
        <v-toolbar flat style="background-color: rgb(173, 105, 53)">
          <v-toolbar-title>Store Expenses</v-toolbar-title>
          <v-spacer></v-spacer>

        <v-text-field rounded v-model="search" label="Search" prepend-inner-icon="mdi-magnify" variant="solo" hide-details
          single-line></v-text-field>

          <v-btn icon="mdi-cached" color="text-black" @click="initialize"></v-btn>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-spacer></v-spacer>

          <!-- Put Edited  Dialog -->
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn
                prepend-icon="mdi-plus"
                outlined
                v-bind="props"
                style="color: white; background-color: green"
              >
                New Bill
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Add Bill</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6">
                        <v-combobox
                          label="Type"
                          :items="['Water', 'Electricity']"
                          v-model="editedStoreExp.type"
                          variant="solo-filled"
                        ></v-combobox>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-combobox
                          label="Status"
                          :items="['Successful', 'Pending']"
                          v-model="editedStoreExp.status"
                          variant="solo-filled"
                        ></v-combobox>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="editedStoreExp.total"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Total"
                          type="number"
                        >
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="editedStoreExp.duedate"
                          :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="DueDate"
                          type="date"
                        >
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">คุณแน่ใจหรือไม่ว่าต้องการลบผู้ใช้รายนี้</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" color="blue-accent-4" class="me-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon size="small" color="red-accent-4" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="rgb(214, 175, 125)" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<style scoped>
.app-container {
  position: relative;
  height: 800px;
}

.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/cafe.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}
</style>
