<script setup lang="ts">
import { onMounted } from 'vue'
import { nextTick, ref } from 'vue'

import type { User } from '@/types/User'

import type { VForm } from 'vuetify/components'
import { useUserStore } from '@/stores/user'
import { useRoleStore } from '@/stores/role'

const users = ref<User[]>([])

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Image',
    key: 'image'
  },
  {
    title: 'Email',
    key: 'email',
    value: 'email'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Gender',
    key: 'gender',
    value: 'gender'
  },
  {
    title: 'Roles',
    key: 'roles',
    value: (item: any | User) => item.roles.map((r: any) => r.name).join(', ')
  },
  { title: 'Actions', key: 'actions', sortable: false }
]
const userStore = useUserStore()
const roleStore = useRoleStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

let editedIndex = -1
function onSubmit() { }

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    userStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await userStore.deleteUser()
  closeDelete()
}
async function editItem(item: User) {
  if (!item.id) return
  await userStore.getUser(item.id)
  dialog.value = true
}
async function deleteItem(item: User) {
  if (!item.id) return
  await userStore.getUser(item.id)
  dialogDelete.value = true
  editedIndex = -1
}
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    userStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await userStore.saveUser()
  closeDialog()
}

const search = ref('')

onMounted(async () => {
  await userStore.getUsers()
  await roleStore.getRoles()
})
</script>

<template>
  <div class="app-container">
    <v-data-table :headers="headers" :search="search" :items="userStore.users">
      <template v-slot:top>
        <v-toolbar flat style="background-color: rgb(173, 105, 53)">
          <v-toolbar-title>User</v-toolbar-title>
          <v-spacer></v-spacer>

          <v-text-field rounded v-model="search" label="Search" prepend-inner-icon="mdi-magnify" variant="solo" hide-details
            single-line></v-text-field>
          
          <v-btn icon="mdi-cached" color="text-black" @click="userStore.getUsers()"></v-btn>
          <v-divider class="mx-4" inset vertical></v-divider>

          <v-spacer></v-spacer>

          <!-- Put Edited  Dialog -->
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn prepend-icon="mdi-plus" outlined v-bind="props" style="color: white; background-color: green">
                New User
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">User Profile</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field v-model="userStore.editedUser.name" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable
                          label="Name"></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field v-model="userStore.editedUser.email" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Email">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field v-model="userStore.editedUser.password" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Password"
                          placeholder="Enter your password">
                        </v-text-field>
                        <small>
                          * รหัสผ่านต้องมี 8 ตัวขึ้นไป ตัวพิมพ์เล็ก (a-z) ตัวพิมพ์ใหญ่ (A-Z) ตัวเลข
                          (0-9) และอักขระพิเศษอย่างน้อย 1 ตัว (#@$!%*?&_-) *</small>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-combobox label="Gender" :items="['male', 'female', 'others']"
                          v-model="userStore.editedUser.gender"></v-combobox>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-combobox v-model="userStore.editedUser.roles" :items="roleStore.roles" label="Select roles"
                          multiple :return-object="true" item-title="name" item-value="id"></v-combobox>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-file-input v-model="userStore.editedUser.files" :rules="[
      (value) => {
        return (
          !value ||
          !value.length ||
          value[0].size < 2000000 ||
          'Avatar size should be less than 2 MB!'
        )
      }
    ]" accept="image/png, image/jpeg" placeholder="Pick an avatar" prepend-icon="mdi-camera"
                          label="Avatar"></v-file-input>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-img :src="'http://localhost:3000/img/users/' + userStore.editedUser.image" width="100"
                          height="100"></v-img>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>* ระบุช่องที่ต้องกรอก</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">คุณแน่ใจหรือไม่ว่าต้องการลบผู้ใช้รายนี้</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" color="blue-accent-4" class="me-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon size="small" color="red-accent-4" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>

      <template v-slot:[`item.image`]="{ item }">
        <v-img :src="'http://localhost:3000/img/users/' + item.image" width="50" height="50"></v-img>
      </template>

      <template v-slot:no-data>
        <v-btn color="rgb(214, 175, 125)" @click="userStore.getUsers()"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<style scoped>
.app-container {
  position: relative;
  height: 800px;
}

.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/cafe.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
  /* ตั้งค่า z-index เพื่อให้ pseudo-element อยู่หลัง content ภายใน .app-container */
}
</style>
