<script setup lang="ts">
import ProductCard from './ProductCard.vue'
import { type Product } from '@/types/Product'
const props = defineProps<{
  products: Product[]
}>()

const emit = defineEmits<{
  selectedProduct: [Product]
}>()
function selected(p: Product) {
  console.log('ProductList' + p)
  emit('selectedProduct', p)
}
</script>
<v-card></v-card>

<template>
  <div style="height: 550px; overflow-x: auto">
    <v-container>
      <v-row>
        <v-col v-for="item of products" :key="item.id">
          <ProductCard :product="item" @selected-product="selected"></ProductCard>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
