<script setup lang="ts">
import { RouterView, useRoute } from 'vue-router'
import MainNavigation from './components/MainNavigation.vue'
import { provide, ref, watchEffect } from 'vue'
import MainAppbar from './components/MainAppbar.vue'
import LoginView from './views/LoginView.vue'
const rail = ref(true)
const drawer = ref(true)
const route = useRoute()
const shouldShowNavigation = ref(true)
provide('rail', rail) //ส่งออก
provide('drawer', drawer) //ส่งออก
// แสดงNavigationเฉพาะเมื่อหน้าปัจจุบันไม่ใช่หน้า login
watchEffect(() => {
  shouldShowNavigation.value = route.name !== 'login'
})
</script>

<template>
  <v-layout class="rounded rounded-md">
    <MainAppbar></MainAppbar>
    <MainNavigation v-if="shouldShowNavigation"></MainNavigation>
    <v-main class="align-center justify-center" style="min-height: 300px">
      <div class="pa-0">
        <router-view></router-view>
      </div>
    </v-main>
  </v-layout>
</template>

<style scoped></style>
